* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    background-color: #000000;
    margin-bottom: -10%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
}

.nav>img {
    height: 60px;
    width: 190px;
    object-fit: cover;
}
.nav img:hover{
    color: goldenrod;
}
.nav1>a {
    color: #d6d4d4;
    font-size: 20px;
    margin: 0px 10px;
}
.nav1 a:hover{
    color: goldenrod;
}
.nav2>i {
    margin: 0px 10px;
    color: #d6d4d4;
    font-size: 25px;
}

.header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 40px;
    padding-bottom: 70px;
}

.header>img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    margin-left: 90px;
}
.head>h1 {
    padding-bottom: 20px;
}

.head>button {
    padding: 8px 20px;
    font-size: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
}
.head >button:hover{
    background-color: #fff;
    color: #000;
}
.headC >button:hover{
    background-color: #fff;
    color: #000;
}
.headD a:hover{
color: #5F0417;
}
.content2 >button:hover{
    background-color: #B26B41;
    color: #fff;
}
.headerG button:hover{
    color: #5B5F60;
    background-color: #000;
}
.headerA {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.headA>img {
    height: 200%;
    width: 250px;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.headB>img {
    height: 120px;
    width: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 10px;
    margin-top: -100%;
    margin-left: -30%;
}

.headC {
    color: #ffffff;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
}

.headC>h6 {
    font-size: 15px;
    letter-spacing: 2px;
    margin-left: 20%;
}

.headC>h1 {
    font-size: 42px;
    font-weight: 300;
    padding: 10px;
    padding-bottom: 30px;
}

.headC>p {
    font-size: 15px;
    word-spacing: 2px;
    padding-bottom: 20px;
    line-height: 23px;
}

.headC>button {
    padding: 7px 10px;
    margin-top: 25px;
    border: 1px solid white;
    background-color: transparent;
    color: #ffffff;
}

.headerB {
    margin-top: 15%;
    width: 95%;
}

.headerB>h1 {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.headD {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.headD>a {
    color: #ffffff;
    margin: 45px;
    font-size: 35px;
}

.image {
    display: flex;
    margin-left: 30px;
}

.img1>img {
    height: 280px;
    width: 450px;
    object-fit: cover;
    margin: 5px;
}

.image>img {
    height: 280px;
    width: 250px;
    object-fit: cover;
    margin: 5px;
}

.headerC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top: 8%;
    padding-bottom: 10%;
}

.shipp {
    text-align: center;
    width: 30%;
}

.shipp>img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.shipp>h5 {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.headerD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}

.content1>img {
    height: 430px;
    width: 400px;
    object-fit: cover;
    margin-left: 20px;
}

.content2 {
    text-align: center;
}

.content2>h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    font-weight: 300;
}

.content2>button {
    padding: 10px 40px;
}

.content3>img {
    height: 290px;
    width: 250px;
    object-fit: cover;
    margin-right: 120px;
    transition: 0.25s;
}
.content3 img:hover{
    transform: scale(1.4);
}

.headerE>img {
    height: 30%;
    width: 50%;
    object-fit: cover;
}

.headerE {
    padding-top: 12%;
    padding-bottom: 12%;
    color: #ffffff;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(77, 76, 76);
}
.headerE:hover{
    background-color: #ecb6bb;
    color: #c53734;
}
.headerF {
    color: #fff;
    margin: 10%;
    padding-bottom: 10%;
}

.headerF>h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.headerF>p {
    text-align: center;
    margin-bottom: 6%;
    font-size: 17px;
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
}

.headf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.headf1>h4 {
    font-size: 25px;
    margin-bottom: 5px;
}

.headf1>i {
    color: #fff;
    font-size: 40px;
}

.headf1>img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.image1>img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-left: -15px;
}

.headerG {
    height: 80%;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1607707465/photo/top-view-of-two-platinum-diamond-rings-in-a-studio-scene-from-design-with-3d-render.jpg?s=612x612&w=0&k=20&c=3-I31Usirqf6j6zhFAOVgnf7ey41VEtdl9SIbr8brPU=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headerG {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    padding-right: 5%;

}

.headerG>h1 {
    font-size: 50px;
    margin-top: -10%;
    padding: 10px 40px;
}

.headerG>p {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 40px;
    padding-bottom: 30px;
}

.headerG>button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    margin-right: 12%;
}

.footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 5%;
}

.footer>h1 {
    font-size: 45px;
    padding-bottom: 25px;
}

.footer>p {
    font-size: 17px;
    padding-bottom: 25px;
}

.btttn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(44, 41, 41);
}

.bttn {
    padding: 10px 120px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(39, 36, 36);
    color: #fff;
    background-color: #000;
    border: 1px solid white;
}

.footer1 {
    background-color: #1D1D1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    color: #e2dede;
    font-family: Arial, Helvetica, sans-serif;
}

.footB>h1 {
    font-size: 16px;
    padding: 5px 0px;
}

.footB>h5 {
    font-size: 13px;
    font-weight: 100;
    padding: 1px 0px;

}

.footC {
    font-size: 16px;
    padding-right: 10%;
}

.footC>h1 {
    font-size: 16px;
    padding: 5px 0px;

}

.footC>h5 {
    font-size: 13px;
    font-weight: 100;
    padding: 1px 0px;
}

.footC>i {
    font-size: 25px;
}